.arrow-top{
    width: 60px;
    height: 60px;
    background-image: url('../img/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10;
}