.btn{
    width: max-content;
    padding: 20px 60px;
    border-radius: 80px;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-color: transparent;
    background-repeat: no-repeat;
}
.btn-primary{
    background-color: #ffed00;
    color: black;
    font-weight: bold;
    transition: .3s ease-in;
}
.btn-primary:disabled{
    background-color: #171717;
    color: #333;
}
.btn-second{
    border: 1px solid #ffed00;
    color: #ffed00;
    transition: .3s ease-in;
}
@media (hover: hover) {
    .btn-primary:hover{
        background-color: #FFFAB5;
    }
}
.btn-primary:active{
    background-color: #171717;
    color: #FFED00;
}
.btn-second:active{
    background-color: #FFED00;
}
@media (max-width: 1075px) {
    .btn{
        padding: 20px 50px;

    }
}
@media (max-width: 700px) {
    .btn{
        padding: 20px 40px;
    }
}
@media (max-width: 602px) {
    .btn{
        padding: 15px 30px;
    }
}
@media (max-width: 540px) {
    .btn{
        padding: 10px 20px;
    }
}
