.business-model{
    width: 100%;
    display: grid;
    grid-template-columns: auto max-content;
    column-gap: 40px;
    padding: 89px 0;
}
.business-model_content{
    width: 560px;
    display: grid;
    row-gap: 20px;
    height: max-content;
}
.business-model_content-head{
    text-transform: uppercase;
}
.business-model_video{
    width: 100%;
}
@media (max-width: 1200px) {
    .business-model_content{
        width: max-content;
    }
}
