.next-slide,
.prev-slide{
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #AFAFAF;
    background-position: center;
    background-size: 9px auto;
    background-repeat: no-repeat;
    z-index: 3;
    transition: all .4s ease;
}
@media (hover: hover) {
    .prev-slide:hover
    ,.next-slide:hover{
        background-color: #ffed00;
    }
}
.next-slide{
    right: 20px;
    background-image: url('../img/nextSlide.svg');
}
.prev-slide{
    left: 20px;
    background-image: url('../img/prevSlide.svg');
}
.next-slide:active,
.prev-slide:active{
    background-color: #595959;
}
