.callback-wrapper{
    z-index: 20;
    position: fixed;
    bottom: 24px;
    right: 24px;
}
.callback-pulse{
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1;
    top: 0;
    left: 0;
    border: 8px solid #ffed00;
    filter: blur(1px);
}
.callback {
    position: relative;
    border: 1px solid #0E0E0E;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffed00;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
}

.callback::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    transition: opacity 0.6s ease-in-out;
    animation: callbackBg 2s ease-in-out infinite alternate;
}

@keyframes callbackBg {
    50% {
        background-image: unset;
    }
    0%{
        background-image: url('../img/popup_call.svg');
    }
    100%{
        background-image: url('../img/popup_phone.svg');
    }
}
.callback_enabled::before{
    animation: none;
    display: none;
}
.callback_enabled{
    background-image: url('../img/cancel.svg');
    background-color: #fff;
}
.callback-options{
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}
.callback-option{
    position: absolute;
    top: -64px;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    left: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
}
@media (max-width: 1000px){
    .callback-wrapper{
        bottom: 128px;
    }
}
@media (max-width: 790px){
    .callback-wrapper{
        bottom: 117px;
    }
}
