.container{
    width: calc(1920px - 720px);
    margin: 0 auto;
    position: relative;
}
.container-suctom-bg{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: -20;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container-suctom-bg_opacity{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
@media(max-width: 1200px){
    .container{
        width: calc(100% - 144px);
    }
}
@media(max-width: 1024px){
    .container{
        width: calc(100% - 40px);
    }
}
@media (max-width: 768px) {
    .container{
        width: calc(100% - 160px);
    }
}
@media (max-width: 550px) {
    .container{
        width: calc(100% - 40px);
    }
}
@supports (-webkit-touch-callout: none) {
    .container-suctom-bg{
        background-attachment: scroll;
    }
}
/*@media(max-width: 1647px){*/
/*    .container{*/
/*        padding: 0 250px;*/
/*    }*/
/*}*/

/*@media(max-width: 1547px){*/
/*    .container{*/
/*        padding: 0 200px;*/
/*    }*/
/*}*/

/*@media(max-width: 1663px){*/
/*    .container{*/
/*        padding: 0 200px;*/
/*    }*/
/*}*/
/*@media(max-width: 1564px){*/
/*    .container{*/
/*        padding: 0 120px;*/
/*    }*/
/*}*/
