.container{
    width: calc(1920px - 720px);
    margin: 0 auto;
}
@media(max-width: 1200px){
    .container{
        width: calc(100% - 64px);
        margin: 0 32px;
    }
}

/*@media(max-width: 1647px){*/
/*    .container{*/
/*        padding: 0 250px;*/
/*    }*/
/*}*/

/*@media(max-width: 1547px){*/
/*    .container{*/
/*        padding: 0 200px;*/
/*    }*/
/*}*/

/*@media(max-width: 1663px){*/
/*    .container{*/
/*        padding: 0 200px;*/
/*    }*/
/*}*/
/*@media(max-width: 1564px){*/
/*    .container{*/
/*        padding: 0 120px;*/
/*    }*/
/*}*/
