.cybersport{
    display: grid;
    grid-template-columns: max-content auto;
    padding: 56px 0 125px 0;
}
.cybersport-left{
    width: max-content;
    padding: 58px 117px 133px 0;
}
.cybersport-right_image{
    width: 100%;
}
/*@media (max-width: 1200px){*/
/*    .cybersport{*/
/*        align-items: center;*/
/*    }*/
/*    .cybersport-left{*/
/*        align-self: center;*/
/*        height: max-content;*/
/*        padding: 0 32px 0 0;*/
/*    }*/
/*}*/
@media (max-width: 1024px) {
    .cybersport{
        column-gap: 20px;
    }
    .cybersport-left{
        align-self: flex-end;
        padding: 0;
    }
}
