.footer{
    padding: 30px 0;
    display: grid;
    position: relative;
    row-gap: 20px;
}
.footer-body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-footer{
    height: 40px;
}
.footer-logo{
    height: 100%;
}
.footer-wrapper{
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #000000;
    z-index: -1;
}
.footer-col{
    width: 100%;
    height: max-content;
    display: grid;
    row-gap: 10px;
}
.footer-header{
    color: #333333;
}
.footer-input{
    border-radius: 4px;
    border: 1px solid #595959;
    padding: 15px 13px;
    height: fit-content;
}
.footer-col_cols{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: auto 48px;
    column-gap: 23px;
}
.footer-button{
    border-radius: 4px;
    background-color: #FFED00;
    width: 48px;
    height: 100%;
    background-image: url('../img/footer-arrow.svg');
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 768px) {
    .footer-body{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
    .footer{
        padding-bottom: 120px;
    }
}
@media (max-width: 400px) {
    .footer-body{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}
