.franchise-hero{
    width: 100%;
    height: max-content;
    display: block;
    max-width: 1300px;
    clip-path: polygon(0% 0%, 120% 0%, 120% 100%, 0% 100%, 0% 0%);
    position: relative;
}
.franchise-hero_gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 5%;
    background-image: linear-gradient(0deg, black 0%, transparent 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.franchise-cover{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
}
.franchise-cover_left{
    display: grid;
    row-gap: 58px;
}
.franchise-cover_left-head{
    display: grid;
    row-gap: 33px;
}
.franchise-cover_left-footer{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.franchise-cover_right{
    position: relative;
    width: 0;
    height: 0;
}
.franchise-cover_right-image{
    z-index: -1;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    translate: 0 -50%;
    width: 508px;
    height: 476px;
}
.franchise-cover_right-image-background{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    display: block;
    width: 508px;
    height: 476px;
    scale: 1.1;
    translate: 0 -50%;
    border-radius: 50%;
    filter: blur(14px);
    background: radial-gradient(#FFED00 30%, transparent 70%);
}
@media(max-width: 1000px){
    .franchise-cover_right-image{
        translate: 50% -50%;
    }
    .franchise-cover_right-image-background{
        translate: 50% -50%;
    }
}
@media (max-width: 800px) {
    .franchise-cover_right-image{
        translate: 75% -50%;
    }
    .franchise-cover_right-image-background{
        translate: 75% -50%;
    }
}
@media (max-width: 650px) {
    .franchise-cover_left-footer{
        display: grid;
        row-gap: 20px;
    }
}
@media (max-width: 400px) {
    .franchise-cover_left-footer{
        row-gap: 10px;
    }
    .franchise-cover_right-image{
        translate: 90% -50%;
    }
    .franchise-cover_right-image-background{
        translate: 90% -50%;
    }
}
