.get-proposition{
    width: 100vw;
    padding: 208px 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.get-proposition_left{
    display: grid;
}
.get-proposition_left-body{
    display: flex;
}
.get-proposition_left-body-map{
    width: 100%;
}
.get-proposition_left-body-ul{
    list-style-type: none;
    width: fit-content;
    align-self: center;
}
.get-proposition_right{
    display: grid;
    row-gap: 30px;
}
.get-proposition_right-form{
    display: grid;
    row-gap: 30px;
}
.get-proposition_right-form_input{
    height: 64px;
    width: 100%;
    color: white;
    border-bottom: 1px solid #AFAFAF;
}
.get-proposition_right-form_input::placeholder{
    color: #AFAFAF;
}
@media (max-width: 768px) {
    .get-proposition{
        grid-template-columns: unset;
        padding: 208px 0;
        width: 100%;
    }
    .get-proposition_right{
        width: 100%;
    }
}
