.header{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 13px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    height: max-content;
}
.header div{
    display: flex;
}
.header div:nth-child(1){
    justify-content: flex-start;
}
.header div:nth-child(2){
    justify-content: center;
}
.header div:nth-child(3){
    justify-content: flex-end;
}
.header-logo{
    width: 260px;
}
.header-left{
    width: 100%;
}
.header-center{
    width: 100%;
}
.header-right{
    align-items: center;
    column-gap: 14px;
}
.header-list{
    display: flex;
    align-items: center;
    column-gap: 24px;
    list-style-type: none;
}
.header-list_item{
    color: #BFBFBF;
}
.header-btn{
    background-color: #ffed00;
    padding: 7px 23px;
    border-radius: 40px;
}
.header-menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 16px;
    background-color: #171717;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.header-menu_item{
    display: grid;
    place-items: center;
    row-gap: 8px;
}
.header-menu_icon{
    height: 36px;
}
@media (max-width: 1400px) {
    .header-list{
        column-gap: 14px;
    }
}
@media (max-width: 1300px) {
    .header-list{
        column-gap: 7px;
    }
}
@media (max-width: 1200px) {
    .header-logo{
        width: 230px;
    }
}
@media (max-width: 790px) {
    .header-menu_icon{
        height: 28px;
    }
}
@media (max-width: 380px) {
    .header-logo{
        width: 230px;
    }
}
@media (max-width: 320px) {
    .header-logo{
        width: 200px;
    }
}
