.infrastructure{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 0;
}
.infrastructure-left{
    display: grid;
    row-gap: 31px;
    height: max-content;
}
.infrastructure-right {
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    clip-path: polygon(15% 0%, 100% 0%, 100% 85%, 85% 100%, 0% 100%, 0% 15%);
}
.infrastructure-right_box{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 14px;
    overflow: hidden;
}
.infrastructure-right_box-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent 62.5%, #FF0F0F 100%);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 1;
}
.infrastructure-right_box-image{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.infrastructure-right_box-content_x{
    height: 46px;
}
.infrastructure-right_box-content{
    display: flex;
    align-items: center;
    height: max-content;
    column-gap: 14px;
    z-index: 2;
    word-break: break-word;
}
@media (max-width: 1200px){
    .infrastructure-right_box-content_x{
        height: 28px;
    }
}
@media(max-width: 1024px){
    .infrastructure-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        row-gap: unset;
    }
}
@media (max-width: 768px) {
    .infrastructure{
        grid-template-columns: unset;
        row-gap: 30px;
    }
    .infrastructure-left{
        row-gap: 25px;
    }
    .infrastructure-right_box-content_x {
        height: 45px;
    }
    .body-text-card{
        font-size: 22px;
    }
}
/*@media (max-width: 1024px){*/
/*    .infrastructure-right_box-content_x{*/
/*        height: 35px;*/
/*    }*/
/*}*/
/*@media (max-width: 1000px) {*/
/*    .infrastructure{*/
/*        grid-template-columns: unset;*/
/*        row-gap: 30px;*/
/*    }*/
/*    .infrastructure-right_box-content_x{*/
/*        height: 68px;*/
/*    }*/
/*}*/
/*@media (max-width: 926px) {*/
/*    .infrastructure-right_box-content_x{*/
/*        height: 48px;*/
/*    }*/
/*}*/
/*@media (max-width: 791px) {*/
/*    .infrastructure-right_box-content_x{*/
/*        height: 36px;*/
/*    }*/
/*}*/
