.loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #000000;
    display: grid;
    place-items: center;
}
.loader-content{
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    column-gap: 12px;
}
@media (max-width: 526px) {
    .loader-content{
        grid-template-columns: 295fr 182fr;
    }
}
