.new-format-container{
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.new-format{
    width: 100%;
    display: grid;
    row-gap: 97px;
    padding: 30px 0 130px 0;
}
.new-format_head{
    width: 100%;
}
.new-format_body{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    align-items: center;
    justify-content: flex-start;
}
.new-format_body-card{
    width: 100%;
    aspect-ratio: 3/4;
    background-color: #ffed00;
    padding: 12px;
    display: grid;
    place-items: center;
    clip-path: polygon(18px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 18px);
}
.new-format_body-card_content{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(12px 0%, 100% 0%, 100% calc(100% - 24px), calc(100% - 12px) calc(100% - 12px), calc(100% - 36px) calc(100% - 12px), calc(100% - 48px) 100%, 0% 100%, 0% 12px);
    overflow: hidden;
    position: relative;
}
.new-format_body-card_content-bottom{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 50% auto;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    padding: 12px;
}
.new-format_body-card_content-bottom_info-wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px;
    row-gap: 24px;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-image: linear-gradient(0deg, rgba(175, 175, 175, 0.5), rgba(175, 175, 175, 0.1));
}
.new-format_body-container{
    display: grid;
    row-gap: 20px;
}
.new-format_body-img{
    width: 100%;
}
@media (max-width: 1024px) {
    .new-format_body{
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        row-gap: 40px;
        justify-content: center;
    }
}
@media (max-width: 858px) {
    .new-format_body{
        row-gap: 40px;
    }
}
@media (max-width: 768px) {
    .new-format_body-card{
        margin-bottom: 68px;
        position: relative;
        clip-path: polygon(18px 0%, 100% 0%, 100% calc(100% + 68px), 0% calc(100% + 68px), 0% 18px);
    }
    .new-format_body-card_under-section{
        width: 100%;
        display: grid;
        place-items: center;
        position: absolute;
        left: 0;
        bottom: -68px;
    }
}
