.philosophy{
    padding: 75px 0 134px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
}
.philosophy-left{
    width: 100%;
    display: grid;
    row-gap: 20px;
}
.philosophy-left_head{
    width: 100%;
}
.philosophy-left_body-list{
    list-style-type: none;
}
.philosophy-left_body-list li::before{
    content: '\2022';
    color: #ffed00;
    margin-right: 6px;
}
.philosophy-left_body{
    width: 100%;
    display: grid;
    row-gap: 20px;
}
.philosophy-right{
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 36px;
    position: relative;
}
.swiper{
    width: 100%;
    height: 100%;
}
.slide-custom{
    width: 100%;
    height: 100%;
    background-color: #FFF;
    position: relative;
    display: grid;
    place-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.swiper-custom-pagination{
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    z-index: 1;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.swiper-custom-bullet{
    width: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #333333;
    cursor: pointer;
}
.swiper-custom-bullet-active{
    background-color: #FFED00;
}
@media (max-width: 1024px) {
    .philosophy{
        grid-template-columns: unset;
        row-gap: 70px;
    }
    .philosophy-right{
        aspect-ratio: 4/2;
    }
}
@media (max-width: 768px) {
    .philosophy-right{
        aspect-ratio: 4/3;
    }
}
/*@media (max-width: 1200px) {*/
/*    .philosophy{*/
/*        padding: 75px 0 134px 0;*/
/*        display: grid;*/
/*        grid-template-columns: unset;*/
/*        column-gap: 40px;*/
/*        row-gap: 24px;*/
/*    }*/
/*    .philosophy-right{*/
/*        aspect-ratio: 4/3;*/
/*    }*/
/*}*/
