.philosophy{
    padding: 75px 0 134px 0;
    display: grid;
    align-items: center;
    row-gap: 40px;
}
.philosophy-left{
    width: 100%;
    display: grid;
    row-gap: 20px;
}
.philosophy-left_head{
    width: 100%;
    height: fit-content;
}
.philosophy-left_body-list{
    list-style-type: none;
}
.philosophy-left_body-list li::before{
    content: '\2022';
    color: #ffed00;
    margin-right: 6px;
}
.philosophy-left_body{
    height: fit-content;
    width: 100%;
}
.philosophy-right{
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.philosophy-right__wrapper{
    width: 100%;
    position: relative;
    padding: 12px 0;
}
.philosophy-right_buttons-wrapper{
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    z-index: 2;
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.swiper-custom-pagination{
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: #333333;
    padding: 7px 12px;
    border-radius: 32px;
}
.swiper-custom-pause{
    width: 36px;
    height: 36px;
    background-color: #595959;
    border-radius: 50%;
    transition: background-color .4s ease;
    background-image: url('../img/pause.svg');
    background-size: 50% auto;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-custom-pause_active{
    background-color: #333333;
    background-image: url('../img/play.svg');
}
@media (hover: hover) {
    .swiper-custom-pause:hover{
        background-color: #333333;
    }
    .swiper-custom-pause_active:hover{
        background-color: #595959;
    }
}
.slide-custom{
    width: 100%;
    aspect-ratio: 2/1;
    background-color: #FFF;
    position: relative;
    display: grid;
    align-items: start;
    justify-content: start;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 28px;
    transition: scale .4s 2s ease-in;
}
.slide-custom::before{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
}
.slide-custom p{
    z-index: 1;
}
.slide-custom_active{
    scale: 1.02;
}
.swiper-custom-bullet{
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #595959;
    cursor: pointer;
    transition: all .6s ease;
}
.swiper-custom-bullet-active{
    width: 16px;
    background-color: #FFED00;
}
@media (max-width: 1024px) {
    .philosophy{
        grid-template-columns: unset;
        row-gap: 70px;
    }
}
@media (max-width: 768px) {
    .philosophy{
        row-gap: 30px;
    }
}
