.rebrending{
    margin: 140px 0;
    padding: 120px 0 75px 0;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}
.rebrending-wrapper{
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #ffed00;
    z-index: -1;
}
.rebrending-left{
    display: grid;
    row-gap: 30px;
    height: fit-content;
}
.rebrending-left_body{
    display: grid;
    row-gap: 15px;
}
.rebrending-right{
    position: relative;
    width: 460px;
    justify-self: center;
    height: 560px;
}
.rebrending-right img{
    position: absolute;
}
.rebrending-right_first{
    width: 348px;
    height: auto;
    top: 0;
    left: 0;
}
.rebrending-right_last{
    width: 249px;
    height: auto;
    bottom: 0;
    right: 0;
}
@media (max-width: 768px) {
    .rebrending{
        grid-template-columns: unset;
        row-gap: 90px;
    }
    .rebrending-right{
        width: min(100%, 560px);
    }
}
@media (max-width: 500px) {
    .rebrending{
        padding: 60px 0 35px 0;
    }
    .rebrending-right {
        height: 480px;
    }
}
@media (max-width: 420px) {
    .rebrending{
        row-gap: 45px;
    }
    .rebrending-right{
        height: auto;
    }
    .rebrending-right img{
        width: 100%;
        position: unset;
    }
}
