.statsAndMap{
    padding: 96px 0;
}
.stats{
    display: grid;
    row-gap: 48px;
    padding: 48px 0;
}
.stats_top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
}
.stats_bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}
.stats_top,
.stats_bottom{
    align-items: center;
}
.stats_item{
    width: 100%;
    text-align: center;
}
.map{
    width: 100%;
    aspect-ratio: 16/9;
}
@media (max-width: 1200px) {
    .stats{
        padding-top: 0;
    }
}
@media (max-width: 550px) {
    .statsAndMap{
        padding: 48px 0;
    }
}
@media (max-width: 340px) {
    .stats_top{
        column-gap: 14px;
    }
    .stats_bottom{
        column-gap: 14px;
    }
}
