.trust-us{
    padding: 140px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}
.trust-us_head{
    text-align: center;
    width: 100%;
}
.trust-us_body{
    position: relative;
}
.trust-us_body::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #0E0E0E 0%, transparent 20% 80%, #0E0E0E 100%);
    z-index: 1;
}
.trust-us_body .swiper .swiper-wrapper{
    transition-timing-function: linear;
}
.trust-us_slide{
    width: 100%;
    aspect-ratio: 3/2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}