.videos-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 105px 0;
    column-gap: 20px;
}
.videos-section_col{
    display: grid;
    row-gap: 20px;
}
.videos-section_col:first-child{
    height: max-content;
}
@media (max-width: 768px) {
    .videos-section{
        grid-template-columns: unset;
        row-gap: 20px;
    }
}
