.why-us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 14px solid white;
    border-radius: 500px;
    padding: 40px 60px;
    overflow: hidden;
    height: max-content;
    position: relative;
}
.why-us_left{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.why-us_left-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.why-us_left-head{
    display: grid;
    row-gap: 45px;
}
.why-us_right{
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}
.why-us_right-circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;
    background-color: #ffed00;
    border-radius: 50%;
    z-index: 1;
}
.why-us_image{
    height: 100%;
    position: absolute;
    inset: 0 50%;
    z-index: 2;
}
@media (max-width: 1200px) {
    .why-us_left{
        padding-left: 90px;
    }
}
