.why-us_container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.why-us{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 14px solid white;
    border-radius: 500px;
    padding: 40px 60px;
    overflow: hidden;
    height: max-content;
    position: relative;
    left: 0;
    z-index: 3;
}
.why-us_top{
    width: max-content;
    position: fixed;
    left: 50%;
    top: 0;
    translate: -50% calc(-30% - (110px / 2) + 82px);
}
.why-us_left{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.why-us_left-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.why-us_left-head{
    display: grid;
    row-gap: 45px;
}
.why-us_right{
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}
.why-us_right-circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;
    background-color: #ffed00;
    border-radius: 50%;
    z-index: 1;
}
.why-us_image{
    height: 100%;
    position: absolute;
    inset: 0 50%;
    z-index: 2;
}
@media (max-width: 1200px) {
    .why-us_left{
        padding-left: 90px;
    }
}
@media (max-width: 918px) {
    .why-us{
        margin-top: 2px;
    }
}
@media (max-width: 770px){
    .why-us_container{
        min-height: 100vh;
        height: auto;
        padding: 164px 14px;
    }
    .why-us{
        display: flex;
        row-gap: 24px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        border: 0;
        padding: 64px;
        height: unset;
        width: 100%;
        aspect-ratio: 1/2;
        z-index: 1;
        overflow: visible;
    }
    .why-us::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        inset: -14px;
        background-image: linear-gradient(0deg, transparent 50%, white 70%);
        z-index: -1;
        border-radius: 500px;
    }
    .why-us::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #0E0E0E;
        z-index: 0;
        border-radius: 500px;
    }
    .why-us_left{
        width: 100%;
        aspect-ratio: 1;
        padding: 0;
        justify-content: unset;
        height: max-content;
        z-index: 1;
    }
    .why-us_left-inner{
        height: max-content;
        row-gap: 22px;
    }
    .why-us_right{
        width: 100%;
        aspect-ratio: 1412/1515;
        margin-bottom: 116px;
    }
    .why-us_image{
        height: unset;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
}
@media (max-width: 470px){
    .why-us{
        padding: 32px;
    }
}
@media (max-width: 380px) {
    .why-us_right{
        margin-bottom: 70px;
    }
}
@media (max-width: 355px) {
    .why-us_right{
        margin-bottom: 30px;
    }
}
