.yellow-section{
    padding: 87px 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.yellow-section_container{
    width: 100%;
    z-index: 1;
    text-align: center;
}
.yellow-section_outer{
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #ffed00;
    z-index: 0;
}
