.yellow-section{
    padding: 87px 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: 4;
}
.yellow-section_container{
    width: 100%;
    z-index: 1;
    text-align: center;
}
.yellow-section_outer{
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    overflow-x: hidden;
    height: 100%;
    background-color: #ffed00;
    z-index: 0;
}
@media (max-width: 768px) {
    .yellow-section{
        grid-template-columns: unset;
        row-gap: 45px;
    }
}
@media (max-width: 440px) {
    .yellow-section{
        padding: 40px 0;
    }
}
