* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "HelveticaNeueCyr", serif;
    border: 0;
    background-color: transparent;
    outline: none;
    text-decoration: none;
}
body{
    background-color: #000000;
    width: 100%;
}
button{
    cursor: pointer;
}
.App{
    width: 100%;
}
.title{
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
}
.heading{
    font-weight: 700;
    line-height: 52px;
    font-size: 47px;
}
.heading-smaller{
    font-weight: 700;
    line-height: 44px;
    font-size: 36px;
}
.body-text{
    color: #AFAFAF;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.body-text-bigger{
    color: black;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
}
.bold{
    font-weight: bold;
}
.uppercase{
    text-transform: uppercase;
}
.span-yellow{
    color: #FFED00;
}
.black-font{
    color: black;
}
.primary-button{
    font-weight: 700;
    font-size: 16px;
    color: black;
    background-color: #FFED00;
    border-radius: 80px;
    padding: 20px 60px;
    transition: all .3s ease;
    width: max-content;
    height: max-content;
}
.primary-button:hover{
    background-color: #FFFAB5;
}
.primary-button:active{
    color: #FFED00;
    background-color: #000;
}
.primary-button:disabled{
    color: #333333;
    background-color: #171717;
}
.secondary-button{
    font-weight: 700;
    font-size: 16px;
    color: #FFED00;
    background-color: transparent;
    border: 1px solid #FFED00;
    border-radius: 80px;
    padding: 20px 60px;
    transition: all .3s ease;
    width: max-content;
    height: max-content;
}
.secondary-button:active{
    color: black;
    background-color: #FFED00;
}
